<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/lib/bootstrap-3.4.1/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/view.css}">
	<!--	基础组件-->
	<script type="text/javascript" th:src="@{/js/flexible.js}"></script>
	<script type="text/javascript" th:src="@{/lib/jquery/jquery.min.js}"></script>
	<!--	图表组件-->
	<script type="text/javascript" th:src="@{/lib/echarts-5.2.0/echarts.min.js}"></script>
	<script type="text/javascript" th:src="@{/lib/china.js}"></script>
	<script type="text/javascript" th:src="@{/lib/echarts-wordcloud-2.0.0/echarts-wordcloud.min.js}"></script>
	<script type="text/javascript" th:src="@{/lib/echarts-liquidfill-3.1.0/echarts-liquidfill.min.js}"></script>
	<!--	加载主题-->
	<script type="text/javascript" th:src="@{/echart/js/theme/chalk.js}"></script>
	<script type="text/javascript" th:src="@{/echart/js/theme/customed.js}"></script>
	<script type="text/javascript" th:src="@{/echart/js/theme/dark.js}"></script>
	<!--	初始化-->
	<script type="text/javascript" th:src="@{/js/init.js}"></script>
	<!-- JSON编辑页面-->
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/lib/jsoneditor-5.13.1/jsoneditor.min.css}">
	<script type="text/javascript" th:src="@{/lib/jsoneditor-5.13.1/jsoneditor.min.js}"></script>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/index.css}">
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <script type="text/javascript" th:src="@{/js/flexible.js}"></script>
</head>
<body style="background-color: #edf1f3">
	<div class="container-fluid">
		<div class="row clearfix">
			<div class="col-md-12 diy-h-2 column" style="background-color: #0c4ec9">
				<h2 style="color: #e0e7ee; font-size: 40px; font-weight: bolder;">图表可视化编辑</h2>
			</div>
			<div class="col-md-12 diy-h-1 column">
				<ul class="nav nav-pills">
					<li role="presentation" class="active"><a href="javascript:">option</a></li>
					<li role="presentation"><a href="javascript:">template</a></li>
					<li role="presentation"><a href="javascript:">chart</a></li>
				</ul>
			</div>
		</div>
		<div class="row clearfix">
			<div class="col-md-6 diy-h-15 column">
				<div class="row clearfix">
					<div class="col-md-12 diy-h-15 diy-panel-no-border column">
						<div class="flex">
							<div style="width: 46%;">
								<p class="title-text">code</p>
								<div id="codeEditor0" style="width: 100%; height: 90%;"></div>
							</div>
							<ul class="btn-box" style="width: 10%;">
								<button id="jsonBtn0" class="json-btn" type="button">>></button>
								<button id="codeBtn0" type="button"><<</button>
							</ul>
							<div style="width: 44%;">
								<p class="title-text">JSON</p>
								<div id="jsonEditor0" style="width: 100%; height: 90%;"></div>
							</div>
						</div>
					</div>
					<div class="col-md-12 diy-h-15 diy-panel-no-border column hide">
						<div class="flex">
							<div style="width: 46%;">
								<p class="title-text">code</p>
								<div id="codeEditor1" style="width: 100%; height: 90%;"></div>
							</div>
							<ul class="btn-box" style="width: 10%;">
								<button id="jsonBtn1" class="json-btn" type="button">>></button>
								<button id="codeBtn1" type="button"><<</button>
							</ul>
							<div style="width: 44%;">
								<p class="title-text">JSON</p>
								<div id="jsonEditor1" style="width: 100%; height: 90%;"></div>
							</div>
						</div>
					</div>
					<div class="col-md-12 diy-h-15 diy-panel-no-border column hide">
						<div class="flex">
							<div style="width: 46%;">
								<p class="title-text">code</p>
								<div id="codeEditor2" style="width: 100%; height: 90%;"></div>
							</div>
							<ul class="btn-box" style="width: 10%;">
								<button id="jsonBtn2" class="json-btn" type="button">>></button>
								<button id="codeBtn2" type="button"><<</button>
							</ul>
							<div style="width: 44%;">
								<p class="title-text">JSON</p>
								<div id="jsonEditor2" style="width: 100%; height: 90%;"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-md-3 diy-h-1 diy-panel column">
						<select class="form-control panel-select">
							<option>blueTech</option>
							<option>dark</option>
							<option>chalk</option>
							<option>customed</option>
						</select>
						<select class="form-control panel-select hide">
							<option>main1</option>
							<option>main2</option>
							<option>main3</option>
						</select>
						<select class="form-control panel-select hide">
							<option>dark</option>
							<option>chalk</option>
							<option>customed</option>
						</select>
					</div>
					<div class="col-md-5 diy-h-1 diy-panel column">
						<div id="option-panel" class="input-group">
							<span class="input-group-addon">option</span>
							<input type="text" class="form-control config-id" placeholder="输入option名称">
						</div>
						<div id="template-panel" class="input-group hide">
							<span class="input-group-addon">template</span>
							<input type="text" class="form-control config-id" placeholder="输入template名称">
						</div>
						<div id="chart-panel" class="input-group hide">
							<span class="input-group-addon">chart</span>
							<input type="text" class="form-control config-id" placeholder="输入chart名称">
						</div>
					</div>
					<div class="col-md-4 diy-h-1 diy-panel column">
						<button id="query" type="button" class="btn btn-default btn-primary">查询</button>
						<button id="preview" type="button" class="btn btn-default btn-danger">预览</button>
						<button id="saveConfig" type="button" class="btn btn-default btn-warning">保存</button>
					</div>
				</div>
			</div>
			<div class="col-md-6 diy-h-16 diy-panel column viewPanel">
			</div>
			<div class="col-md-6 diy-h-16 diy-panel column viewPanel hide">
			</div>
			<div class="col-md-6 diy-h-16 diy-panel column viewPanel hide">
			</div>
		</div>
	</div>
</body>
</html>