<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>开发助手</title>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
</head>

<body>
<div class="chatbot-container">
    <div class="chatbot-header">开发助手</div>
    <div class="chatbot-messages"></div>
    <div class="chatbot-input">
        <input type="text" class="chatbot-input-field" placeholder="请输入您的问题，回车发送">
        <button class="chatbot-send">Send</button>
    </div>
    <div id="loading-spinner">
        <i class="fa fa-spinner fa-spin"></i> Loading...
    </div>
    <div class="chatbot-footer">Powered by MVP &copy; 2023</div>
    <script type="text/javascript" th:src="@{/js/chatbot.js}"></script>
</div>
</body>

</html>
