<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一体化管控平台</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/ui/test_ui.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/ui/antd.min.css}">

    <!--	react框架-->
    <script type="text/javascript" th:src="@{/lib/react/react.development.js}"></script>
    <script type="text/javascript" th:src="@{/lib/react/react-dom.development.js}"></script>
    <script type="text/javascript" th:src="@{/lib/react/babel.min.js}"></script>
    <script type="text/javascript" th:src="@{/ui/antd.min.js}"></script>
    <script type="text/babel" th:src="@{/ui/test_ui.js}"></script>
</head>
<body>
<div id="root"></div>
</body>
</html>