<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>react-practice</title>
    <!--	react框架-->
    <script type="text/javascript" src="../static/lib/react/react.development.js"></script>
    <script type="text/javascript" src="../static/lib/react/react-dom.development.js"></script>
    <script type="text/javascript" src="../static/lib/react/babel.min.js"></script>
</head>
<body>
<div id="example"></div>
<script type="text/babel">
    const value = 'Hello,1 world!';
    ReactDOM.render(
        <h1>{value}</h1>,
        document.getElementById('example')
    );
</script>
</body>
</html>